* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.Container {
  max-width: 900px;
  margin: 0 auto;
}

.PostItem {
  width: 100%;
  padding: 15px;
  border: 3px solid rgb(255, 76, 103);
  margin-bottom: 30px;
}